/* Change the color of the text */
body {
  color: white;
}

/* Change the background color of the page */
body {
  background-color: #2F4F4F;
}

/* Center the text on the page */
h1, p {
  text-align: center;
}

/* Add a border around the YouTube embed element */
#youtube-embed {
  border: 2px solid white;
  background-color: black;
}

h1 {
  font-weight: 800;
  color: white;
}

p {
  font-weight: 300;
  color: white;
}

#youtube-url-index {
  color: white;
  font-size: 0.8em;
}

#video-select-form {
  color: white;
}


.video-container {
  display: block; 
  justify-content: center; 
  text-align: center; 
  margin-top: 900px;
  position: relative;
  text-align: center;
  display: block;
  margin: 20px;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
  overflow: hidden;
  text-align: center;
  position: center;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    text-align: center;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}


.video-wrap {
        float: none;
        clear: both;
        width: 700px;
        height: 50px;
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0;
        margin: 0 auto;
        max-width: 100%;
}


