/* Change the color of the text */
body {
  color: white;
}

/* Change the background color of the page */
body {
  background-color: #2F4F4F;
}

/* Center the text on the page */
h1, p {
  text-align: center;
}

/* Add a border around the YouTube embed element */
#youtube-embed {
  border: 2px solid white;
  background-color: black;
}

h1 {
  font-weight: 800;
  color: white;
}

p {
  font-weight: 300;
  color: white;
}

#youtube-url-index {
  color: white;
  font-size: 0.8em;
}

#video-select-form {
  color: white;
}


.video-container {
    position: relative;
    margin: 20px;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}